$white:        #FFFFFF;
$gray:         #AAAAAA;
$mid-gray:     #e8ecef;
$light-gray:   #f5f7f9;
$black:        #333333;
$black-1:      1px solid rgba(0,0,0,0.1);
$black-2:      1px solid rgba(0,0,0,0.2);
$black-3:      1px solid rgba(0,0,0,0.3);
$blue:         #4D9BD0;
$sky-blue:     rgba(77, 155, 208,.1);
$dark-blue:    rgba(77, 155, 208,.2);
$red:          #FF4136;
$linkedin:     #0077b5;
$twitter:      #55acee;
$instagram:    #3f729b;
$dribbble:     #ea4c89;
//
// $silver: #DDDDDD;
// $aqua: #7FDBFF;
// $teal: #39CCCC;
// $olive: #3D9970;
// $green: #2ECC40;
// $lime: #01FF70;
// $yellow: #FFDC00;
// $orange: #FF851B;
// $fuchsia: #F012BE;
// $purple: #B10DC9;
// $maroon: #85144B;
