/* ==========================================================================
   Colors some from the Morpheus of CSS http://mrmrs.cc http://clrs.cc
   ========================================================================== */

/**
* TODO: merge with variables, possible to limit to 3 colors? play with rgba
* for lighter and darker versions. Remove social colors and put inline.
*/

$white:        #ffffff;
$gray:         #aaaaaa;
$mid-gray:     #e8ecef;
$light-gray:   #f5f7f9;
$black:        #333333;
$black-1:      1px solid rgba(0,0,0,0.1);
$black-2:      1px solid rgba(0,0,0,0.2);
$black-3:      1px solid rgba(0,0,0,0.3);
$blue:         #0099F7;
$sky-blue:     rgba(77, 155, 208,.1);
$dark-blue:    rgba(77, 155, 208,.2);
$red:          #e53935;
$linkedin:     #0077b5;
$twitter:      #55acee;
$instagram:    #3f729b;
$dribbble:     #ea4c89;

$bg-gray: #eeeeee;

.bg-gray {
  background-color: $bg-gray;
}


//
// $silver: #DDDDDD;
// $aqua: #7FDBFF;
// $teal: #39CCCC;
// $olive: #3D9970;
// $green: #2ECC40;
// $lime: #01FF70;
// $yellow: #FFDC00;
// $orange: #FF851B;
// $fuchsia: #F012BE;
// $purple: #B10DC9;
// $maroon: #85144B;
