footer {
  text-align: center;
  position: relative;
  color: #555;
  line-height: 1;
  padding: 1em 2em;

  @media screen and (min-width: $width-medium) {
    padding: 3em 2em;
  }

    p {
      font-size: 1em;
      margin: 0;
      line-height: 1em;
    }

    a {
      background: none;
      display:inline-block;
      font-size: 4em;
      margin-bottom: 0.5em;
    }

}
