footer {
  text-align: center;
  position: relative;
  color: #555;
  line-height: 2em;
  padding: 1em 2em;

    em {
      color: $red;
    }

  @media screen and (min-width: $width-medium) {
    padding: 3em 2em;
  }

    p {
      font-size: 1em;
      margin: 0;
    }

}

a.top {
  background: none;
  color: $white;
  display:inline-block;
  font-size: 4em;
  margin-top: .5em;
}

.about {

  background: $blue;

  p {
    color: $white;
    font-weight: 500;
  }

  h2 {
  color: $white;
  }
}
