/* ==========================================================================
   Grid
   ========================================================================== */

/**
* TODO: Explore toast grid http://daneden.github.io/Toast/
*/

@import "susy";

$susy: (
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside,
);

/**
* TODO: using hidden for the images and animations on scroll. Should refactor
* to alter the css properties instead of adding remove class.
*/

.hidden {
    visibility: hidden;
}

.fl-n { float: none; }
.fl-r { float: right; }
.fl-l { float: left; }

.al-c { text-align: center; }

.grid-1 {
    @include container(1320px);
}

.gains .grid-1 {
    @include container(830px);
        @media screen and (min-width: $mw-xl) {
            @include container(1145px);
        }
}

.gridscores .grid-1-4,
.lily .grid-1-4 {
    @include span(break);
    @include prefix(0em);
    @include suffix(0em);
}

.blank {
    @include absolutecenter();
    border: 0;
}

.csspurge figure,
.csspurge .browser {
  max-width: 64rem;
  border: 0;
}

@media screen and (min-width: $mw-s) {
    .misc .grid-1-2 {
        @include gallery (6 of 12);
    }
}

@media screen and (min-width: $mw-m) {

    .grid-1-2 li,
    .grid-3-4 li,
    .grid-2-3 li {
        @include gallery (6 of 12);
        padding: 0 2rem 1rem 2rem;
    }

    .gains li,
    .awwesome li {
        @include gallery (6 of 12);
        padding: 2rem;
        margin: 0;
    }

    .gridscores .grid-1-4 {
        @include span(nobreak);
    }

    .lily .grid-1-4 {
        @include span(nobreak);
        padding: 2rem 2rem 0 2rem;
    }

    .gridscores .grid-1-4,
    .branding .grid-1-3,
    .mobile .grid-1-4,
    .intranet .grid-1-4 {
        padding: 2em;
    }
}

@media screen and (min-width: $mw-l) {

    .grid-1-2 { @include span(6 of 12); }
    .grid-1-3 { @include span(3 of 12); }
    .grid-2-3 { @include span(9 of 12); }
    .grid-1-4 { @include span(3 of 12); }
    .grid-3-4 { @include span(9 of 12); }

    .mobile .iphone { @include span(ftl nobreak); }
    .branding .grid-2-3 { @include span(rtl nobreak); }
    .intranet .grid-3-4 { @include span(rtl nobreak); }

    .gains {
        .iphone { @include span(ftl nobreak); }
        .grid-2-3 { @include span(rtl nobreak); }
    }

    .gains ul,
    .awwesome ul {
        @include container($mw-m);
    }
}

// .misc .grid-1-2 {
//     float: none;
//     margin: 0 auto;
// }

dl {
    @include container(32em);
    display: none;
        @media screen and (min-width: $mw-l) {
            display: block;
        }
}

dt {
    text-align: right;
}

dt,
dd {
    @include gallery (3 of 12);
}

.clients ul {
    @include container($mw-s);
}

.clients li {
    @include gallery (6 of 12);
    text-align: center;
    font-size: .875rem;
}
