// Requirements
// ============

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

.grid-1 {@include container(1320px);}
.gains .grid-1 {@include container(860px);}

.gridscores .grid-1-4,
.lily .grid-1-4 {
  @include span(break);
  @include prefix(0em);
  @include suffix(0em);
}

@media screen and (min-width: $width-medium) {
  .grid-1-2 li,
  .grid-3-4 li,
  .grid-2-3 li {
    @include gallery (6 of 12);
    // @include suffix(2em);
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
  }

  .gains li {
    @include gallery (4 of 12);
    // @include suffix(2em);
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 2em;
  }

  .gridscores {

    .grid-3-4 {
    position: relative;
    }

    .apple-watch-container {
    position: absolute;
    bottom: 0;
    left: 0;
      @media screen and (min-width: $width-large) {
        right: 0;
        left: auto;
      }
    }

    .grid-1-4 {
      @include span(nobreak);
    }

  }


  .lily .grid-1-4 {
    @include span(nobreak);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
  }

  .gridscores .grid-1-4,
  .branding .grid-1-3,
  .mobile .grid-1-4,
  .intranet .grid-1-4 {
    padding: 2em;
  }


}

@media screen and (min-width: $width-large) {

  .grid-1-2 { @include span(6 of 12);}
  .grid-1-3 { @include span(3 of 12);}
  .grid-2-3 { @include span(9 of 12);}
  .grid-1-4 { @include span(3 of 12);}
  .grid-3-4 { @include span(9 of 12);}

  .gains {
    .iphone {
      @include span(ftl nobreak);
      // @include absolutecenter();
    }

    .grid-2-3 {@include span(rtl nobreak);}

      ol {
        @include container(1180px);
      }
  }

  .mobile .iphone {@include span(ftl nobreak);}

  .branding .grid-2-3 {@include span(rtl nobreak);}

  .intranet .grid-3-4 {@include span(rtl nobreak);}

}

.awwesome,
.lily {
  background: $color-background-alt;
}

dl {
    max-width: 880px;
    margin: 0 auto;
    padding: 1em 0;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    display: none;

      @media screen and (min-width: $width-small) {
        padding: 2em 0;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }

      @media screen and (min-width: $width-large) {
        display: block;
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
      }
}
