/* ==========================================================================
   Layout
   ========================================================================== */

/**
* TODO: merge with header and footer
*/

img,
iframe,
video {
    max-width: 100%;
    height: auto;
}

figure {
    @include container($mw-m);
    padding: 0;
        @media screen and (min-width: $mw-m) {
            margin: 0 auto;
        }
}
@media screen and (min-width: $mw-m) {
  .awwesome figure {
    margin-bottom: 4rem
  }
}

.talk header,
.talk figure {
  max-width: 32em;
}

figcaption {
    display: none;
    color: $gray;
        @media screen and (min-width: $mw-l) {
            display: block;
            text-align: center;
            padding: 1rem;
        }
}

section {
    @include cf();
    border-bottom: 1px solid $mid-gray;
    padding: 3rem 0;
        @media screen and (min-width: $mw-m) {
            padding: 8rem 0;
        }
}

@media screen and (min-width: $mw-m) {
    .about {
        padding: 5rem 0;
    }
}

main header,
.centered {
    text-align: left;
    padding: 0;
}

.about img {
  width: 233px;
  margin: 2rem auto;
}

@media screen and (min-width: $mw-m) {
    main header,
    .centered {
        @include container($mw-m);
        margin-bottom: 2rem;
        margin-bottom: 0;
        padding: 2rem;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
}
