img,
iframe {
  max-width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

figure {
 padding: 0;
 @include container(992px);

  @media screen and (min-width: $mw-m) {
    margin: 0 auto;
  }

}

figcaption {
 display: none;
 color: $gray;

  @media screen and (min-width: $mw-l) {
   display: block;
   text-align: center;
   padding: 1rem;
  }

}

section {
 border-bottom: 1px solid $mid-gray;
 padding: 3rem 0;
 @include cf();

  @media screen and (min-width: $mw-m) {
    padding: 8rem 0;
  }

}

@media screen and (min-width: $mw-m) {
 .about {
  padding: 7rem 0 2rem;
 }
}

main header,
.centered {
 text-align: left;
 padding: 0;
}

.awwesome header {
 max-width: 26em;
}

.talk header {
 max-width: 29em;
}

.about header,
.about .centered {
 text-align: center;
}

@media screen and (min-width: $mw-m) {

 main header,
 .centered {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0;
  // @include container(35.488em);
  @include container($mw-s);
 }

}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
   iframe,
   object,
   embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }
}
