/*

Scale

2.0
1.5
1.25
1
0.875

*/

body {
  font-family: $font-body;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-mine-shaft;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: $width-medium){
 body {
  font-size:18px;
 }
}

@media screen and (min-width: $width-large){}

a {
color: $color-shakespeare-blue;
text-decoration: none;
background: $color-sky-blue;
@include transition(all 0.1s ease-in-out);
  &:hover {
  background: $color-sky-blue-2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: $font-heading;
}

h1 {
  font-family: $font-body;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 4rem auto 0;
}

@media screen and (min-width: $width-medium){

 h1 {
 margin-top:7rem;
 }

}

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: 0.875rem;
}

hr {
  clear: both;
  border: 0;
  height: 1px;
  background: transparent;
  margin: 0 auto 2rem;
}

ol {
  counter-reset:li;
  margin: 0;
  padding: 0;
}

ol > li {
  list-style:none; 
}

ol > li:before {
  content:counter(li)".";
  counter-increment:li;
  font-size: 1.25rem;
  font-weight: 600;
  float: left;
  line-height: 1.2;
  font-family:$font-heading;
  padding-right: .3rem;
}

dt,
dd {
  font-size:.875rem;
  float: left;
  margin: 0 0 0 .5rem;
}

dt {
  clear: both;
  margin-bottom: 1rem;
  color: $color-lighten-alt;
}

h2,
p,
li {
padding-left:0.5rem;
padding-right:0.5rem;
  @media screen and (min-width: $width-medium) {
  padding-left:0;
  padding-right:0;
  } 
}

li p {
padding:0;
}

svg {
  height: 28px;
}

.fill-black path,
.fill-black circle {
  fill: $color-lighten;
}

.mail:hover path { 
  fill:$color-shakespeare-blue;
}

.linkedin:hover path {
  fill:$color-linkedin;
}

.twitter:hover path {
  fill:$color-twitter;
}

.instagram:hover path,
.instagram:hover circle {
  fill:$color-instagram;
}

.dribbble:hover path {
  fill:$color-dribbble;
}
