/* ==========================================================================
   Variables
   ========================================================================== */

/**
* TODO: merge with colors, using initials for faster prototyping, for bigger
* teams, should use meaningful names, so instead of $f-b, could use $font-body
*/

$f-b:   -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, Ubuntu, segoe ui, arial, sans-serif;
$f-h:   SF UI Display, Helvetica Neue, Arial, sans-serif;

$mw-xs: 30em; // 480px;
$mw-s:  35.5em; // 568px
$mw-m:  48em; // 768px
$mw-l:  64em; // 1024px
$mw-xl: 86.375em; // 1382px;

// $mw-s:          37.5em; // 600px;
// $mw-l:          62em; // 992px;
