@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

$font-body:                 Karla, Arial, sans-serif;
$font-heading:              'Helvetica Neue', Arial, sans-serif;

$color-border:              #e8ecef;
$color-white:               #ffffff;
$color-athens-gray:         #f5f7f9;
$color-mine-shaft:          #222222;
$color-lighten:             lighten( $color-mine-shaft, 40% );
$color-lighten-alt:         lighten( $color-mine-shaft, 60% );
$color-sky-blue:            rgba(77, 155, 208,.1);
$color-sky-blue-2:          rgba(77, 155, 208,.2);
$color-pomegranate:         #f44336;
$color-shakespeare-blue:    #4D9BD0;
$color-darken:              darken( $color-shakespeare-blue, 10% );
$color-saturate:            shade( $color-shakespeare-blue, 50% );
$color-black:               #000000;
$color-black-1:             1px solid rgba(0,0,0,0.1);
$color-black-2:             1px solid rgba(0,0,0,0.2);
$color-black-3:             1px solid rgba(0,0,0,0.3);
$color-plane:               #4d9bd0;
$color-linkedin:            #0077b5;
$color-twitter:             #55acee;
$color-instagram:           #3f729b;
$color-dribbble:            #ea4c89;

$width-small:               35.5em;
$width-medium:              48em;
$width-large:               64em;
