$backgroundColor: #fff;
$spacing: 2rem;
$links: #35a8ff;

//@import "libs/normalize";
//https://github.com/0nn0/terminal-mac-cheatsheet/wiki/Terminal-Cheatsheet-for-Mac-(-basics-)

* {
  box-sizing: border-box;
}

html {
  background: $backgroundColor;
  padding: $spacing;
}
body {
  padding: $spacing;
  background: white;
}

a {
  color: $links;
  text-decoration: none;
  &:hover, &:focus {
    color: darken($links, 25%);
  }
}