/*

p {
font-size: 2.074em; 
font-size: 1.728em;
font-size: 1.44em;
font-size: 1.2em;
font-size: 0.833em;
margin-bottom: 1.3em;
}

*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {font-size: 1em;}

.pure-g [class *="pure-u"] {
    font-family: 'Karla','helvetica neue', helvetica, arial, sans-serif;  
}

.pure-g {
    max-width: 1180px;
    margin: 0 auto;
}

body {
  background-color: white;
  font-family: 'Karla','helvetica neue', helvetica, arial, sans-serif;      
  font-weight: 500;
  line-height: 1.45;
  color: #222;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 400;
  line-height: 1.2;
  font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;    
  letter-spacing: 0.1em;    
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.833em;
    margin: 0;
}

p {font-size: 1em;}

small, .font_small {font-size: 0.833em;}

a {
    color: rgb(77, 155, 208);    
	text-decoration: none;
    background: rgba(77, 155, 208,.1);
}

.black a,
footer p a,
#console a {
    background: none;
}

header p {
    font-weight: 500;
    font-size: 1em;
}

hr {
    clear: both;
    border: 1px solid rgba(0,0,0,0.2);
    width:2rem;
    margin: 5em auto 0;
}

dl {
    max-width: 880px;
    margin: 0 auto;
    padding: 1em 0;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;  
    -webkit-column-gap: 1em; 
    -moz-column-gap: 1em; 
    column-gap: 1em;
}

dt, dd {
    float: left;
    margin: 0 0 0 10px;
}
dd {
    xfont-size: 1.2em;
}
dt {
    clear: both;
    margin-bottom: 1.44em;
    margin-bottom: 1.728em;
    color: #bcbcbc;
}

.align-center {text-align: center;}
.float-left {float:left;}
.float-right {float:right;}

img,
iframe {
    max-width: 100%;
}

section .multi-column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;  
    -webkit-column-gap: 1em; 
    -moz-column-gap: 1em; 
    column-gap: 1em;
    xmax-width: 80em!important;
    margin: 0 auto;
    padding: 0 2em;
}

section .multi-column h3,
.l-box h3 {
    text-align: left;
}

section .multi-column p,
.pure-g .l-box p {
    font-size: 1em;
    padding: 0;
    line-height: 1.44em;
    text-align: left;
}

section .float-left,
section .float-right {
    float: none;
    clear: none;
}

figure {
    margin: 0;
}

article figure {
    max-width: 880px;
    margin: 0 auto;
    padding: 1em 0; 
    overflow: hidden;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

video {
    max-width: 100%;
    height: auto;
}

.passion {
background: #e53935; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #e53935 , #e35d5b); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #e53935 , #e35d5b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.leaf {
background: #1D976C; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1D976C , #93F9B9); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1D976C , #93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.friday {
background: #83a4d4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
}

.awwesome {
background: #DE6262; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DE6262 , #FFB88C); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DE6262 , #FFB88C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.branding {
background: #e53935; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #e53935 , #e35d5b); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #e53935 , #e35d5b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intranet {
background: #6a3093; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #6a3093 , #a044ff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #6a3093 , #a044ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lily {
background: #B24592; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #B24592 , #F15F79); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #B24592 , #F15F79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}

.iPhone.white, 
.iPhone.white span,
.iPhone.white:before,
.iPhone.white:after,
.iPad.white, 
.iPad.white span,
.iPad.white:before {
    background: transparent;
    border-color: rgba(255,255,255,0.3);
}

.iPhone.black, 
.iPhone.black span,
.iPhone.black:before,
.iPhone.black:after,
.iPad.black, 
.iPad.black span,
.iPad.black:before {
    background: transparent;
    border-color: rgba(0,0,0,0.1);   
}

.iPad {
    background: #fff;
    position: relative;
    display: block;
    float: left;
    border: 1px solid rgba(0,0,0,.1);
    
    padding: 15px 50px;
    margin: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.iPad:before {
    content: '';
    border: 1px solid rgba(0,0,0,.1);
    position: absolute;
    top: 50%;
    display: block;
    background: #fff;
    
    right: 21px;
    margin: -3px auto 0;
    height: 7px;
    width: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.iPad img {
    height: auto;
    background: #000;
    display: block;
    margin: 0 auto;
        
    padding: 2px;
    width: 516px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;    
}

.iPad span {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    
    left: 7px;
    margin: -17px auto 0;
    height: 35px;
    width: 35px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;

}

.gridscores .iPad {
    xmax-width: 678px;
}

.iPhone {
    clear: right;
    float: right;
    background: #fff;
    position: relative;
    display: block;
    border: 1px solid rgba(0,0,0,.1);
    width: 360px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    
    margin: 0 auto 1em;
    clear: both;
    float: none;
    width: 260px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.iPhone:before {
    content: '';
    display: block;
    background: #fff;
    margin: 25px auto 0;
    height: 14px;
    width: 14px;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
    margin: 15px auto 10px;
    height: 8px;
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.iPhone img {
    float: none;
    padding: 5px;
    background: #000;
    display: block;
    margin: 50px auto 100px;
    margin: 50px auto 100px;
    width: 330px;
    height: 578px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    height: auto;
    width: 240px;
    margin: 25px auto 60px;
    padding: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.iPhone span {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    display: block;
    background: #fff;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    
    bottom: 10px;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.iPhone:after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    margin: 15px auto 0;
    height: 10px;
    width: 70px;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    top: 15px;
    margin: 15px auto 0;
    height: 6px;
    width: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

header,
footer {
	line-height: 1;
    padding: 2em 0 1em;
}

footer {
padding: 1.618em 0;
text-align: center;
position: relative;	
xbackground: #262626;
color: #555;
line-height: 1;
padding: 1em 2em;
text-align: center;    
}

footer p:first-child {margin: 0 0 2.618em;}

footer p {
    font-size: 1em;
	margin: 0;
    line-height: 1em;
}

footer a {
    font-size: 2.074em;
}

.pure-g img {
    width: 100%;
    height: auto;
}

.branding {padding: 2em 0 0;}

.black {
    background: #262626;
    color:#767676;
}

.black h2,
.black h3 {
    color: #fff;
}

.white {
background: #fff;
}

section p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.44em;
}

.branding img { height: 55px;}

.branding h2,
.branding h3,
.branding p,
.branding a {
    color: #fff;
    border-color:#fff;
}

.social {
    text-align: center;
}

.social-icons {
    padding: 0.5em;
    display: inline-block;
    font-size: 1.618em;
    background: none;
}

.linkedin {color: #0077b5;}
.instagram {color: #3f729b;}
.twitter {color: #55acee;}
.dribbble {color: #ea4c89;}

header {
    width: 100%;
    background: #fff;
    text-align: center;
}

header h1 {
    line-height: 1;
}

header p {
    margin: 0 auto;
    padding: 0 2em;
    line-height: 1.44em;
}

.avatar {
    text-align: center;
     height: 40px;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
}

.center-column {
    xpadding: 1em 0;
    overflow: hidden;
}
.center-column h2,
.center-column p {
    xpadding: 0 2em;
    text-align: left;
}

.max-width .multi-column {
    max-width: 880px;
    max-width:1180px;
}

.branding {text-align: center;}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

dl,
figcaption {
display: none;
}

#code {
    border-radius: 5px;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 30px;
    background: #ccc;
    xheight: 630px;
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    font-size: 13px;
    color: #fafafa;
}

#console {
    xmax-width: 670px;
    padding: 1.3em;
    xheight: 610px;
    margin: 0 auto;
    background: #383737;
}

.about {
    border-top: 1px solid #eee;
}

.l-box {padding: 1em 2em;}

.l-box.center-column {padding: 1em 2em 0;}

.awwesome .l-box.center-column.black {padding: 1em 2em;}

.lily .pure-g .l-box {padding: 1em 2em 0;}

@media screen and (min-width: 35.5em) {
    
.l-box {padding: 2em;}

.l-box.center-column {padding: 3em 2em 0;}

.awwesome .l-box.center-column.black {padding: 3em 2em;}

.lily .pure-g .l-box {padding: 1em 2em 0;}
    
    h1, h2, h3, h4 {
     letter-spacing: 0.2em;   
    }
    
    #console {
    padding: 40px;
    xheight: 550px;    
    }
    
    dl {
    padding: 2em 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;     
    }
    
}

@media screen and (min-width: 48em) {
    
header p {max-width: 18em;padding: 0;}
    
article figure {padding: 5em 0;}
    .mobile article figure {padding: 5em 0 0;}
    .gains.mobile article figure {
    padding: 5em 0;    
    }
.talk article figure {padding: 4em 0 0;}
.awwesome article figure {padding: 5em 0 4.5em;}    

dl,
figcaption {
    display: block;
}    

.talk {padding: 0 0 5em; }    

.center-column {
position: relative;
z-index: 1;
xpadding: 0 0 3em;
}
    
.center-column.black,
.center-column.white {
xpadding-top: 3em;
}
    
.max-width.black,
.max-width.white,
.intranet-video.black {
padding-top: 0
}
    
.awwesome .center-column,
.intranet .center-column,
.lily .center-column,
.gridscores .center-column {
    margin-top: -166px;
}    

.talk .center-column {margin-top: 0;}
.about {margin-top: 4em;}    
    
.intranet-video {line-height: 0;}    
    
.center-column h2,
.center-column p {
text-align: center;
max-width: 31.488em;
margin-left: auto;
margin-right: auto;
}    
    
.avatar {
 height: 60px;
border-radius: 30px;
-webkit-border-radius:30px;
-moz-border-radius:30px;
}

h2 {xfont-size: 1.2em;}
  
.branding img {margin: 1em 0 3em;}

.intranet .iPad,
.lily .iPad,
.awwesome .iPad {
    xmax-width: 678px;
}
    
.iPad {
float: none;
padding: 35px 100px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;    
width: 100%;
max-width: 1238px;
margin: 15px auto 35px;    
}
    
.iPad:before {
right: 43px;
margin: -7px auto 0;
height: 14px;
width: 14px;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
}
    
.iPad img {
    padding: 5px;
    width: 1034px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
    
.iPad span {    
    left: 25px;
    margin: -25px auto 0;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

section .multi-column {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;  
-webkit-column-gap: 1em; 
-moz-column-gap: 1em; 
column-gap: 1em;
padding: 0 1em 4em;
}

section .multi-column p {padding: 0 0 2em;}

.lily .multi-column {
-webkit-column-count: 2;
-moz-column-count: 2; 
column-count: 2; 
-webkit-column-gap: 4em; 
-moz-column-gap: 4em; 
column-gap: 4em;
padding: 0 2em 0;
}    
  
section p {
font-size: 1.2em;    
line-height: 1.728em;
}

header {padding: 8em 0 3em;}

header p {
font-weight: 500;
font-size: 1.2em;
}
    
figure {
padding: 5em 0 0;
    margin: 0 auto;
}
    
    figcaption {
        text-align: center;
        padding: 1em;
    }
.intranet-video figure {
    padding: 0;
    margin: 0 auto;
}    

footer {padding: 3em 2em;}
    
.social-icons {padding: 1em;}

.gridscores .iPhone,
.gridscores .xiPad,
.gridscores .apple-watch-container {
position: absolute;
}
    
    .gridscores .iPad {
        margin-bottom: 0;
    }
    
    .gridscores figure {
        position: relative;
        padding-bottom: 0;
    }
    .gridscores .iPhone {
        bottom: 0;
        left: 50%;
    }
    .gridscores .apple-watch-container {
        bottom: 166px;
        left: 50%;
        margin-left: -115px;
    }
    
}

@media screen and (min-width: 64em) {
    
section .float-left {float: left;}
section .float-right {float: right;} 
    
dl {
padding: 3em 0 0;
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;     
}    
    
.iPhone { margin: 0 15px; } 
    
section .multi-column {
-webkit-column-gap: 4em; 
-moz-column-gap: 4em; 
column-gap: 4em;
padding: 0 1em 4em;
}
    
.lily .multi-column {
-webkit-column-gap: 8em; 
-moz-column-gap: 8em; 
column-gap: 8em;
padding: 0 1em 0;
}   
    
}

.social-icons { color: #555;}

@charset "UTF-8";
/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face { font-family: "Ionicons"; src: url("../f/ionicons.eot?v=2.0.0"); src: url("../f/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../f/ionicons.ttf?v=2.0.0") format("truetype"), url("../f/ionicons.woff?v=2.0.0") format("woff"), url("../f/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }

.ion, .ionicons, .ion-social-twitter:before, .ion-social-twitter-outline:before,
.ion-social-instagram:before, .ion-social-instagram-outline:before,.ion-social-linkedin:before, .ion-social-linkedin-outline:before, .ion-social-dribbble:before, .ion-social-dribbble-outline:before { display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.ion-social-twitter:before { content: "\f243"; }
.ion-social-twitter-outline:before { content: "\f242"; }
.ion-social-instagram:before { content: "\f351"; }
.ion-social-instagram-outline:before { content: "\f350"; }
.ion-social-linkedin:before { content: "\f239"; }
.ion-social-linkedin-outline:before { content: "\f238"; }
.ion-social-dribbble:before { content: "\f22d"; }
.ion-social-dribbble-outline:before { content: "\f22c"; }

.apple-watch{
    background:#e2e2e2;
    width:230px;
    height:269px;
    border-radius:43px;
    padding:8px;
    box-sizing:border-box;
    border:1px solid #bcbcbc;
    position:relative;
    xmargin-right:13px;
    float: left;
}

.apple-watch::before{
    content:'';
    display:block;
    width:16px;
    height:41px;
    border-radius:45% 7px 7px 45%;
    position:absolute;
    right:-13px;
    top:62px;
    background:#e2e2e2;
    border:1px solid #bcbcbc;
}

.apple-watch::after{
    content:'';
    display:block;
    width:5px;
    height:67px;
    border-radius:8px 3px 3px 8px;
    position:absolute;
    right:-5px;
    top:140px;
    background:#e2e2e2;
    border:1px solid #bcbcbc;
}

.apple-watch,
.apple-watch::before,
.apple-watch::after {
    background: transparent;
    border:1px solid rgba(255,255,255,.3);
}

.apple-watch__screen{
    background:#030303;
    height:100%;
    border-radius:35px;
    box-sizing:border-box;
    padding:28px;
    overflow:hidden;}

.apple-watch__screen img{
    border-radius:5px;
    height:100%;
}