.input-search {
display: block;
height:40px;
outline: none;
transition: all .2s ease-in-out;
width: 100%;
background-color: #fff;
border-color: #ddd;
border-width: 1px;
border-style: solid;
/*border-radius: 5px;*/
transition: all .2s ease-in-out;
padding-left: 40px;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.input-search:focus {
border-color: #bbb;
/*border-bottom-left-radius: 0;
border-bottom-right-radius: 0;*/
}

.input-rounded {
padding: .5rem;
background-color: rgba(0, 0, 0, .05);
border: 1px solid transparent;
border-radius: 20px;
padding-left: 40px;
}

.search-button {
padding-left: 10px;
padding-right: 10px;
padding-top: 8px;
}
