main {
  width: 100%;
}

.filterstoggle {
  cursor: pointer;
}

.filters {
  /*position: relative;
height: 40px;
margin-right: 20px;
margin-left: 8px;
overflow: hidden;
cursor: grab;
cursor: -webkit-grab;*/
}

.nav {
  overflow: hidden;
      cursor: grab;
      cursor: -webkit-grab;
      height: 20px;
      position: relative;
}

.nav:after {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    display: block;
    width: 100px;
    height: 60px;
    pointer-events: none;
    content: "";
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 95%,#fff);
}

.nav div {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 3rem;
}

.nav a {
  border-style: solid;
  border-width: 1px;
  border-color: rgba( 0, 0, 0, .2 );
  padding: .25rem .75rem;
  border-radius: .25rem;
  
}

form {
  display: flex;
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.navfilters {
  /*display: none;*/
}

.wrapper.opened .navfilters {
  /*display: block;*/
}
