<section id="contact" class="about">
  <div class="centered">
    <h2>Contact</h2>
      <p>Have an idea or project you’d like to talk about? Get in touch:</p>
      <p>
        <a class="social-icons linkedin" href="mailto:roy@quilor.com" target="_blank"><i class="icon ion-ios-paperplane"></i></a>
        <a class="social-icons linkedin" href="https://uk.linkedin.com/in/roy-quilor-0b78559" target="_blank"><i class="icon ion-social-linkedin"></i></a>
        <a class="social-icons twitter" href="http://twitter.com/royquilor" target="_blank"><i class="icon ion-social-twitter"></i></a>
        <a class="social-icons dribbble" href="http://dribbble.com/royquilor" target="_blank"><i class="icon ion-social-dribbble"></i></a>
        <a class="social-icons instagram" href="https://www.instagram.com/royquilor/" target="_blank"><i class="icon ion-social-instagram"></i></a>
      </p>
      <p>Be <a href="https://youtu.be/QTXyXuqfBLA" target="_blank">happy</a> and may the force be with you.</p>
  </div>
</section>
<footer>
    <a class="top" href="#">&#9757;</a>
    <p>© 2015 Roy Quilor</p>
</footer>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="js/build/production.min.js"></script>
