<header class="top tc pt5 pt6-ns" id="top">
    <svg class="mb3" xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72">
      <defs>
        <linearGradient id="logo" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%"   stop-color="#ee5a58"/>
          <stop offset="100%" stop-color="#f18e65"/>
        </linearGradient>
      </defs>
      <path d="M72 72h-72v-72h72v72zm-18-54h-36v36h18v-18h18v-18z" fill="url(#logo)" />
    </svg>
    <h1 class="f4 fw4 lh-copy center ph3">I&rsquo;m Roy Quilor, a Designer, Maker and Dreamer beavering away in Hertford, UK. <a class="link" href="#contact">Hire me</a></h1>
</header>
