<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    Default Page Title
  {% endif %}
  </title>
  {% if page.description %}
  <meta name="description" content="{{ page.description}}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/global-min.css">

  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Roy Quilor">
  <meta name="google-site-verification" content="iF8L4gANyWgNYCqMjsgxIUjzhZmBoLP-n1WeJWXB8Kw" />

</head>
